
<div class="list-group">
    <% @posts.each do |post| %>
    <a class="list-group-item list-group-item-action" href="/board/<%= post.id %>"><%= post.title %></a>
    <% end %>
</div>
<hr>
<%= link_to "새글쓰기", "/board/new", class: "btn btn-primary" %>